# bitcoind RPC settings (linearize-hashes)
#rpcuser=someuser
#rpcpassword=somepassword
datadir=~/.particl
host=127.0.0.1

#mainnet default
port=51735

#testnet default
#port=51935

#regtest default
#port=51936

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=399000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=fbf2efb4
genesis=0000ee0784c195317ac95623e22fddb8c7b8825dc3998e0bb924d66866eccf4c
input=/home/example/.particl/blocks

# testnet
#netmagic=0811050b
#genesis=0000594ada5310b367443ee0afd4fa3d0bbd5850ea4e33cdc7d6a904a7ec7c90
#input=/home/example/.particl/testnet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
